*{
  box-sizing: border-box;
}

body{
  font-size: 16px;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
  margin:0;
}

#content-wrapper{
  width: 90%;
  max-width: 12000px:
  margin-left: auto;
  margin-right: auto;
}

a{
  color: #008000;
}

header{
  position: relative;
}
.logo{
  position: absolute;
  top: 0;
  left: 0;
}

header, h1, vav ul{
  padding: 50px:
}

nav{
  background-color: #008000;
}

nav ul{
  list-style: none;
  padding: 0;
  margin: o;
}

nav a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a: hover{
  background-color: black;
  color: #9ae39a;
}
